$bg-color: hsl(30, 38%, 92%);
$sec-color: hsl(0, 0%, 100%);
$theme-color: hsl(158, 36%, 37%);
$dark-theme-color: hsl(158, 36%, 25%);
$main-font-color: hsl(212, 21%, 14%);
$alt-font-color: hsl(228, 12%, 48%);